/TiposPrimitivos/nbproject/private/
/TiposPrimitivos/build/
/TesteTipos/nbproject/private/
/TesteTipos/build/
/SomaSwing/nbproject/private/
/CalculadoraIdade/nbproject/private/
/CalculadoraIdade/build/
/OperadoresSwing/nbproject/private/
/OperadoresSwing/build/
/OperadoresAritmeticos/nbproject/private/
/OperadoresAritmeticos/build/
/ProgramaMedia/nbproject/private/
/ProgramaMedia/build/
/ProgramaIdade/nbproject/private/
/ProgramaIdade/build/
